# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.pp-ui-test-task.iml
# Datasource local storage ignored files
/../../../../../../:\repo\pp-ui-test\.idea\.idea.pp-ui-test-task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
